.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px; /* Ajusta el padding según sea necesario */
  width: 100%; /* Asegúrate de que el navbar use todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.navbar-logo a {
  color: #000000;
  font-size: 35px;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 45px;
}

.navbar-links li a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button div {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
