.carrusel-container {
    width: 80%;
    height: 280px;
    margin: 0 auto; /* Centra el carrusel */
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
    padding: 20px;

}

.carousel .slide img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
}